@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply rounded-md py-1.5 px-4 text-center shadow-sm text-white font-medium text-sm;
  }

  .btn-primary {
    @apply bg-primary hover:bg-primary-dark;
  }

  .btn-secondary {
    @apply bg-gray-400 hover:bg-gray-500;
  }

  .form-input {
    @apply rounded-md py-1.5 px-2 focus:outline-none border shadow-sm text-gray-900 text-sm;
  }

  th {
    @apply px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
  }

  td {
    @apply px-6 py-2.5 whitespace-nowrap text-sm text-gray-500;
  }

  table {
    @apply w-full divide-y divide-gray-200 table-auto rounded-md overflow-hidden;
  }

  tr {
    @apply even:bg-gray-50;
  }

  thead {
    @apply bg-gray-50;
  }

  tbody {
    @apply bg-white divide-y divide-gray-200;
  }
}
